.admin {
    background-color: $cream;
    height: 100%;
}

.admin_block {
    display: flex;
    flex-direction: row;
}

.admin_sidebar_block {
    display: flex;
    flex-direction: column;
    background-color: $violet-wine;
    color: $cream;
    padding: 5em 0;
}

.salon_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    .salon_img {
        align-content: center;
        text-align: center;
        img {
            width: 100%;
        }
    }
    .salon_title {
        text-align: center;
        justify-content: center;
        padding: 1em 0;
    }
}

.menu_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    .admin_navbar {
        width: 100%;
    }
    .admin_navbar_links {
        border-radius: 3px;
        border-bottom: 1px solid $cream;
        box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.075);
    }
    a {
        padding: 1.2rem 1rem;
        color: $cream;
        font-size: 1.2em;
        text-align: center;
        display: block;
    }
    a:hover {
        background-color: $cream;
        color: $violet-wine;
    }
}

.admin_service_block .admin_masters_block {
    display: flex;
    height: 100%;
    width: 100%;
}
.admin_service_block h2 {
    margin-top: 1em;
}
.admin_service_cards {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .service_card {
    width: 32%;
    padding: 0.5em;
    margin: 1em 0;
    box-sizing: border-box;
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    box-shadow: 5px -5px 10px 0px rgba(44, 44, 44, 0.205);
    }
}

.service_logo {
    height: 70%;
    text-align: center;
    img {
        width: 90%;   
    }
}
.service_title {
    margin: 1em 0;
}
.service_info {
    padding: 1em 0;
    border-top: 1px solid $lgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
        font-weight: 600;
    }  
    .left_block {
        h2 {
        font-weight: 600;
        text-align: left; 
        }        
    }
    .right_block {
        h2 {
        font-weight: 600;
        text-align: right; 
        } 
    }
}

.service_card.add {
    padding: 0.5em;
    margin: 1em 0;
    background-color: $violet-wine; 
    display: flex;
    flex-direction: column;
    box-shadow: 5px -5px 10px 0px rgba(44, 44, 44, 0.205);
    .service_logo.add {
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            width: 50%;
            height: 50%;
            background-color: $cream;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                text-align: center;
                font-size: 5em;
            }
        }
    }
    .service_info.add {
        display: flex;
        justify-content: center;
        color: $cream;
        p {
            text-align: center;
        }
    }
}
.service_card_add:hover {
    cursor: pointer;
}