* {
    box-sizing: border-box;
    margin: 0; 
    font-family: $font; 
  
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
    }

    h1{
        color: $h1text;
    }
    color: $text;
    a {
        text-decoration: none;
        background-color: transparent;

        &:hover{
            text-decoration: none;
            color: darken($color: $text, $amount: 10%);
        }
        &.active {
            color: darken($color: $text, $amount: 10%);
        }
    }

    img {
        border-style: none;
    }

}