.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
    .row {
        display: flex;
        flex-wrap: wrap;       
    }
    @for $i from 1 through $column_count {
        .col-#{$i} {
            width: (100% / $column_count) * $i;
            padding: {
                left: 10px;
                right: 10px;
            }
            flex-shrink: 0;
        }
    }
    @each $name, $mw in $brakepoints {
        @media (min-width: $mw) {
            & {
                width: $mw - 30;
            }

            @for $i from 1 through $column_count {
                .col-#{$name}-#{$i} {
                    width: (100% / $column_count) * $i;
                    padding: {
                        left: 10px;
                        right: 10px;
                    }
                    flex-shrink: 0;
                }
            }
        }
    }
}
