.lowerheader {
    background-color: $violet-wine;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    .logo-wrap {
        img {
        height: 50px; 
        width: 200px;
    }
    } 
    .nav {
        display: flex;
        align-items: center;
        .nav-item {
            list-style-type: none;
            display: inline-block;
        a {
            padding: 1.2rem 1rem;
            color: $cream;
            font-family: $font;
            font-size: 18px;
            font-weight: 300;
            }
        }
    }
}