.main-content {
    width: 100%;
    background-color: $cream;
}
.main-info {
    height: 100%;
    background-color: $violet-wine;
    color: $creamy;
    padding: 1.5rem;
    .display2 {
        text-align: center;
        text-shadow: 1px 1px 1px $cream;
    }
    .general-info{            
            word-spacing: 0.1em;
            line-height: 175%;
            text-align: justify;
            padding-top: 1rem;
            padding-bottom: 1rem;      
    }
}
.search-category{
    margin-top: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    .form {
        width: 250px;
        height: 30px;  
        select{
            width: 200px;
            height: 30px; 
            border-radius: 5px;
            border: 1px solid $violet-wine; 
            color: $violet-wine;
            font-family: Rubik;
            font-weight: 600;
            background-color: $cream;
        }           
    }
}
.advantages {
    margin-top: 40px;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    font-family: $font;
    color: $text;
    border-top: 2px solid $violet-wine;    
    h2 {
        text-align: center;
        font-weight: 600;
        color: $violet-wine;
        margin-bottom: 20px;
    }
    .main_block_advantages {
        display: flex;
        flex-direction: column;
        .md_block_advantages {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            .block_wrap {
                width: 33%;
                display:flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 10%;
                    margin-bottom: 10px;
                }
               .text_block {
                    text-align: center;
                    h3 {
                        font-weight: 600;
                        line-height: 2em;
                        color: $violet-wine;
                    }
                }
            }   
        }         
        .first_block {
            justify-content: flex-start;
        }
        .second_block {
            justify-content: center;
        }
        .third_block {
            justify-content: flex-end;
        }
    }
}