/* -------------------------------- 
Login/Signup modal window
-------------------------------- */

.navbar-sign-list {
    display: flex;
    align-items: center;
    li {
    display: inline-block;
    padding: 0.5rem 0.1rem;
    }   
}

.navbar-sign-item {
    display: inline-block;
    height: 35px;
    color: $violet-wine;
    font-size: 16px;
    padding: .6em 1em;
    border-radius:1em;
    box-shadow: $base_box_shadow  
}

.navbar-sign-item:hover {
    background-color: $violet-wine;
    color: $cream;
}

/* -------------------------------- 

x signin/signup 

-------------------------------- */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 150; /* Sit on top */
padding-top: 100px; /* Location of the box */
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}


.close {
color: #aaaaaa;
float: right;
font-size: 1.5em;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
border-radius: 0.25em;
width: 50%;
transform: translateY(-45px);
transition: transform 0.3s;
}


.modal_form {
padding-top: 1em;
}

.modal-signin-fieldset {
position: relative;
margin: 1.2em 0;
}

.modal-signin-fieldset:first-child {
margin-top: 0;
}

.modal-signin-fieldset:last-child {
margin-bottom: 0;
}

.modal-signin-label-image {
/* replace text with an icon */
position: absolute;
left: 15px;
top: 50%;
transform: translateY(-50%);
height: 20px;
width: 20px;
}

.modal-signin-label--username {
background-image: url("../icons/modal-icon-username.svg");
}

.modal-signin-label--email {
background-image: url("../icons/modal-icon-email.svg");
}

.modal-signin-label--password {
background-image: url("../icons/modal-icon-password.svg");
}

.modal-signin-label--address {
background-image: url("../icons/modal-icon-home.svg");
}

.modal-signin-label--phone {
background-image: url("../icons/modal-icon-phone.svg");
}

.modal-signin-label--location {
background-image: url("../icons/modal-icon-location.svg");
}

.modal-signin-input {
margin: 0;
padding: 0;
border-radius: 0.25em;
width: 100%;
padding: 12px 20px 12px 50px;
border: 1px solid #d2d8d8;
}


.modal-signin-input[type=submit] {
padding: 16px 0;
cursor: pointer;
background: #300016;
color: #FFF;
font-weight: bold;
border: none;
}

.modal-signin-input[type=submit]:hover, .modal-signin-input[type=submit]:focus {
background: #63002d;
outline: none;
}


@media only screen and (min-width: 600px) {
.modal_form {
    padding: 1,5em;
}
.modal-signin-fieldset {
    margin: 1,5em 0;
}
.modal-signin-fieldset:first-child {
    margin-top: 0;
}
.modal-signin-fieldset:last-child {
    margin-bottom: 0;
}
.modal-signin-input.modal-signin-input--has-padding {
    padding: 8px 20px 8px 50px;
}
.modal-signin-input[type=submit] {
    padding: 12px 0;
}
}