.newheader {
    display: none;
    position: sticky;
    height: 70px;
    background-color: $violet-wine;   	  
    .logo-wrap {
        img {
        height: 70px; 
    }
    #touch-menu {
        display: none;
    }
    } 
    .nav {
        display: flex;
        align-items: center;
        margin-left: 30px;
        .nav-item {
            list-style-type: none;
            display: inline-block;
        a {
            padding: 1.2rem 1rem;
            color: $cream;
            font-family: $font;
            font-size: 18px;
            font-weight: 300;
            }
        }
    }
    .navbar-sign-list {
        display: flex;
        align-items: center;
        margin-left: 30px;
        li {
        display: inline-block;
        padding: 0.7rem 0.1rem;
        }   
    }
    
    .navbar-sign-item {
        display: inline-block;
        height: 35px;
        color: $cream;
        margin-top: 0.3em;
        padding: .6em 1em;
        border-radius:1em;
        box-shadow: 0px 2px 3px #593244;  
    }   
    .navbar-sign-item:hover {
        background-color: $cream;
        color: $violet-wine;
    }
    @media only screen and (max-width: 600px) {
        .logo-wrap {
            img {
                height: 50px; 
                width: 150px;
            }
        }
        .nav {
            display: none;
        }
        #touch-menu {
            display: block;
            padding: 12px 15px;
            font-weight: bold;
            font-size: 16px;
            color: $cream;           
    }
}
}
