#data{  
    background-image: url(../images/bg-image-select.png);
    background-position: center;
    background-size: cover; 
    height: auto;
    margin-top:20px;
    font-weight: 500;
    padding: 1rem 10rem;
    line-height: 150%;

}