
h1 {
    font-style: italic;
    margin-left: 300px;
    padding-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}
.salon_card {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, 0.075);
    .salon_logo {
        margin: 0;
        padding: 0;
        width: 50%;
        height: 150px;
        img {
            width: 95%;
            height: 95%;
            transition: .5s ease;
            border-radius: 10px;
            overflow: hidden;
        }
        img:hover {
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    }
    .salon_info {
        width: 40%;
        min-height: 150px;
        margin: 0;
        margin-left: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .salon_title {
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
        .salon_adress {
            margin: 0;
            padding: 0;
            font-size: 15px;
            line-height: 1.8;
        }
        .salon_btn {
            width: 150px;
            height: 30px;
            background-color: #DB7093;
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            animation: radial-pulse 1s infinite;
        }
    }
}


@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgb(255,192,203);
    }
    100% {
      box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0);
    }
  }





