h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}  

p {
  margin-top: 0;
  margin-bottom: 0;
}
  
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}  

svg {
  overflow: hidden;
  vertical-align: middle;
  font-family: $font;
}