.navbar-right{
	display: inline-block;
	list-style-type: none;
	list-style: none;
	.dropdown-lang{
		position: relative;
		display: block;
		.flag{
			background-image: url("/icons/ru.png");
			background-repeat: no-repeat;
			display: block;
			height: 12px;
			left: 15px;
			margin-top: -7px;
			position: absolute;
			top: 50%;
			width: 18px;
			.ru{
				background-position: 0 0;
			}
			.eng{
				background-position: 0 -12px;
			}
			.kyr{
				background-position: 0 -24px;
			}
		}
		.dropdown-toggle{
			margin: 0 15px;
			padding: 0 17px 0 27px;
		}
		.stat{
			background-image: url("/icons/arrow-down.png");
			background-repeat: no-repeat;
			display: block;
			height: 5px;
			width: 9px;
			margin-top: -4px;
			position: absolute;
			top: 50%;
			right: 15px;
		}
		.stat-open{
			background-position: -9px 0;
		}
		
	.dropdown-menu{
		background-color: $cream !important;
		min-width: 100px;
		a{
			color: $text;
			padding: 1px 15px 1px 42px;
		}
		a:hover{
			background-color: $creamy;
		}
	}
	}
}