header{
	background-color: $cream;
}
.row {
	height: 50px;
	}
.upperheader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-sn-icons {
	display: flex;
	align-items: center;			
	.navbar-sn-links {
		list-style-type: none;			
		.navbar-text {
			color: $violet-wine;
			font-family: $font;
			font-size: 18px;
			font-weight: 300;
		}
		a {
		display: inline-block;
		padding: 0.7rem 0.5rem;
		color: $cream;			
		}
	}
}
