$lavanda: #dde2e3;
$cream: #eec5d3;
$creamy_: #e9dccd;
$creamy: #faf9fc;
$beige: #e5dace;
$text: #36384c;
$btext: #272727;
$violet-wine: #702150;
$violet: #b23a48;
$realgrey: #808080;
$lgrey: #c8c8c8;
$sgrey: #D1D1D1;
$dgrey: #A5A5A5;
$white: #ccc;
$silver: silver;
$gold: goldenrod;
$pink: rgb(247, 96, 179);
$rosy: rgb(99, 25, 67);
$front: rgb(236, 211, 96); 
$fronth1: rgb(126, 94, 6);
$purple: #561377;
$blue: #6d8899;
$h1text: #75468e;


$base_box_shadow: 0px 2px 3px $lgrey;
$column_count: 12;
$font: "Rubik";
$brakepoints: (
    "xs": 500px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1140px
);

