.footer  
    .block0
        .block1 
            ul.partners-text ДЛЯ МАСТЕРОВ И КОМПАНИЙ
                li.partners-info
                    a(href="#") Создать бизнес профиль
                li.partners-info
                    a(href="#") Требования к информации   
                li.partners-info
                    a(href="#") Часто задаваемые вопросы
        .block2            
            span.rights-text All rights reserved.         
            span.copyright-text Copyright                
                span.copyright-text 2019 Programmer Ayimdar
                img(src="../icons/copyright.svg", alt="").copyright-img
        .block3            
            span.logo-text SULUU Online             
            span.motto-text Записаться в салон красоты стало еще проще! 
        

include ./modal.pug
script(src="https://code.jquery.com/jquery-3.4.0.js")
script(src="../script/main.js")
script(src="../script/slide.js")
//    script(src="../js/placeholders.min.js")