.footer   
    .container     
        .block0
            .block1 
                ul.partners-text ДЛЯ МАСТЕРОВ И КОМПАНИЙ
                    li.partners-info
                        a(href="./info.html") Требования к информации                         
                    li.partners-info
                        a(href="#") Публичная оферта 
                    
            .block2              
                ul.partners-text ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
                    li.partners-info
                        a(href="./faq.html") Ответы на ваши вопросы
                    li.partners-info
                        a(href="./faq.html") Помощь проекту
            .block3
                span.rights-text All rights reserved.         
                span.copyright-text Copyright                
                    span.copyright-text 2019 Programmer Ayimdar
                    img(src="../icons/copyright.svg", alt="").copyright-img          
                

script(src="../script/modal_signin.js")
script(src="https://code.jquery.com/jquery-3.4.0.js")
script(src="../script/slide.js")