.footer   
    .container     
        .block0
            .block1 
                ul.partners-text ДЛЯ МАСТЕРОВ И КОМПАНИЙ
                    li.partners-info
                        a(href="./info.html") Требования к информации                         
                    li.partners-info
                        a(href="#") Публичная оферта 
                    
            .block2              
                ul.partners-text ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
                    li.partners-info
                        a(href="./faq.html") Ответы на ваши вопросы
                    li.partners-info
                        a(href="./faq.html") Помощь проекту
            .block3
                p.rights-text All rights reserved.         
                p.copyright-text Copyright 2019                
                    img(src="../icons/copyright.svg", alt="").copyright-img 
                    p.copyright-text Programmer Ayimdar
                             
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")           
    script(src="../script/main.js")
    
    

