header
    .container
        .row.upperheader
            ul.navbar-sn-icons      
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/instagram.svg" alt="insta" width="25" height="25")
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/facebook.svg" alt="fb" width="25" height="25")
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/whatsapp.svg" alt="wh" width="25" height="25")
            nav.main-nav
                ul.navbar-sign-list
                    li
                        a.navbar-sign-item.modal-open-btn(href='#0') Вход
                    li
                        a.navbar-sign-item.modal-open-btn(href="#0") Регистрация
        .row.lowerheader
            .logo-wrap
                img(src="../images/loggo1.svg", alt="logo")
            a(href="#")#touch-menu Меню
            ul.nav
                li.nav-item
                    a(href="index.html") Главная
                li.nav-item
                    a(href="salon_card.html") Каталог
                li.nav-item
                    a(href="sale.html") Акции
                li.nav-item
                    a(href="map.html") Показать на карте
        .newheader    
            .logo-wrap
                img(src="../images/loggo.svg", alt="logo" width="175" height="40")
            a(href="#")#touch-menu Меню             
            ul.nav
                li.nav-item
                    a(href="index.html") Главная
                li.nav-item
                    a(href="salon_card.html") Каталог
                li.nav-item
                    a(href="#") Акции
                li.nav-item
                    a(href="#") Показать на карте
            ul.navbar-sn-icons      
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/newinstagram.svg" alt="insta" width="30" height="30")
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/newfacebook.svg" alt="fb" width="29" height="29")
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/newwhatsapp.svg" alt="wh" width="27" height="27")
            nav.main-nav
                ul.navbar-sign-list
                    li
                        a.navbar-sign-item.modal-open-btn(href='#0') Вход
                    li
                        a.navbar-sign-item.modal-open-btn(href="#0") Регистрация
include modal_signin.pug

