header
    .container
        .row.upperheader
            ul.navbar-sn-icons      
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/instagram.svg" alt="insta" width="25" height="25")
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/facebook.svg" alt="fb" width="25" height="25")
                li.navbar-sn-links
                    a(href="#"): img(src="../icons/whatsapp.svg" alt="wh" width="25" height="25")
            nav.main-nav
                ul.navbar-sign-list.modal-signin-trigger
                    li
                        a.navbar-sign-item(href='#0', data-signin="login") Вход
                    li
                        a.navbar-sign-item(href="#0", data-signin="signup") Регистрация
        .row.lowerheader
            .logo-wrap
                img(src="../images/logo_tr.svg", alt="logo")
            ul.nav
                li.nav-item
                    a(href="#") Главная
                li.nav-item
                    a(href="#") Каталог
                li.nav-item
                    a(href="#") Акции
                li.nav-item
                    a(href="#") Показать на карте
