.container-fluid
    .row
        ul.navbar-sn-icons
            li.navbar-sn-links
                span.navbar-text Мы в соц. сетях        
            li.navbar-sn-links
                a(href="#"): img(src="./icons/instagram.svg" alt="insta" width="25" height="25")
            li.navbar-sn-links
                a(href="#"): img(src="./icons/facebook.svg" alt="fb" width="25" height="25")
  
                                    
.lowerheader
    .container
        .row
            .logo-wrap
                a(href="#"): img(src="./images/Logo.svg", alt="logo")
            ul.nav
                li.nav-item
                    a(href="#") Главная
                li.nav-item
                    a(href="#") Каталог
                li.nav-item
                    a(href="#") Акции
                li.nav-item
                    a(href="#") Показать на карте
                       

        












   
