.upperheader
    .container
        .row
            ul.social-network
                li.social-network-links
                    a.upperheader_name Мы в соц. сетях
            
                li.social-network-links
                    a(href="#"): img(src="./icons/instagramm.png" alt="insta" width="21" height="21")
                li.social-network-links
                    a(href="#"): img(src="./icons/facebook@2x.png" alt="fb" width="11" height="21")
            ul.navbar-right  
                li.dropdown-lang
                    i.flag-ru
                    a.dropdown-toggle data-toggle.dropdown RUS
                    i.stat
                ul.dropdown-menu
                    li
                        i.flag ru 
                        a(href="#") РУС
                    li
                        i.flag eng 
                        a(href="#") ENG
                    li
                        i.flag kyr 
                        a(href="#") КЫРГ
            li.auth-form
                a.entry-form Вход
                    span.reg-form Регистрация
                                    
.lowerheader
    .container
        .row
            .logo-wrap
                a(href="#"): img(src="./images/Logo.svg", alt="logo")
            ul.nav
                li.nav-item
                    a(href="#") Главная
                li.nav-item
                    a(href="#") Каталог
                li.nav-item
                    a(href="#") Акции
                li.nav-item
                    a(href="#") Показать на карте
                       

        












   
