<!-- Several modals -->

<!-- modal-signin-block -->
.myModal.modal
  .modal-content
    span.close x
    form.modal_form
        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--email
            input.modal-signin-input#signin-email(type="email", placeholder="E-mail", required)

        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--password
            input.modal-signin-input#signin-password(type="password", placeholder="Пароль", required)

        p.modal-signin-fieldset
            a.modal-signin-btn#modal-signin-btn( type="submit") Войти


<!-- modal-signup-block -->
.myModal.modal
  .modal-content
    span.close x
    form.modal_form
        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--username
            input.modal-signin-input#signup-username(type="text", placeholder="Название салона", required)

        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--address
            input.modal-signin-input#signup-address(type="text", placeholder="Адрес салона", required)

        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--phone
            input.modal-signin-input#signup-phone(type="tel" placeholder="Контактный телефон ( н: 0ххх хххххх)", maxlength="11", pattern="[0-9]{4} [0-9]{6}", required)

        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--location
            select.modal-signin-input#signup-district (name="district" placeholder="Район", required)
                option(value="") Район
                option(value="phil") Филармония
                option(value="zum") ЦУМ
                option(value="east-5") Восток-5
                option(value="south-2") Юг-2
                option(value="med") Медакадемия
                option(value="sham") ШВК
                option(value="polit") Политех
                option(value="jal") Джал
                option(value="5dis") 5 мкр
                option(value="6dis") 6 мкр
                option(value="7dis") 7 мкр
                option(value="8dis") 8 мкр
                option(value="9dis") 9 мкр
                option(value="10dis") 10 мкр
                option(value="11dis") 11 мкр
                option(value="12dis") 12 мкр
                option(value="asan") Асанбай			

        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--email
            input.modal-signin-input#signup-email(type="email", placeholder="E-mail", required)

        p.modal-signin-fieldset
            label.modal-signin-label-image.modal-signin-label--password
            input.modal-signin-input#signup-password(type="password", placeholder="Пароль", required)

        p.modal-signin-fieldset
            a.modal-signin-btn#modal-signup-btn( type="submit") Зарегистрироваться
