#step1.modal_reg
    .modal-content_reg
        span_reg.close_reg x
        .modal_reg_header
            h2 Пожалуйста выберите услугу
        form.modal_form_reg
            p.modal-reg-fieldset
                label.modal-reg-label(for="reg-haircut") Стрижка
                input.modal-reg-input#reg-haircut(type="radio", name="reg", value="haircut", checked)
            p.modal-reg-fieldset
                label.modal-reg-label Покраска
                input.modal-reg-input#reg-hairdye(type="radio", name="reg", value="hairdye") 
            p.modal-reg-fieldset
                label.modal-reg-label Маникюр
                input.modal-reg-input#reg-manicure(type="radio", name="reg", value="manicure")
            p.modal-reg-fieldset
                label.modal-reg-label Визаж
                input.modal-reg-input#reg-makeup(type="radio", name="reg", value="haircut")
            p.modal-reg-fieldset
                a.modal-reg-btn#modal-reg-btn1( type="submit") Дальше

#step2.modal_reg
    .modal-content_reg
        span_reg.close_reg x
        .modal_reg_header
            h2 Пожалуйста выберите мастера
        form.modal_form_reg
            p.modal-reg-fieldset
                label.modal-reg-label Юлия Богданова
                input.modal-reg-input#reg-master(type="radio", name="reg", value="haircut", checked)
            p.modal-reg-fieldset
                label.modal-reg-label Андрей Левин
                input.modal-reg-input#reg-master(type="radio", name="reg", value="hairdye")
            p.modal-reg-fieldset
                label.modal-reg-label Светлана Тарасюк 
                input.modal-reg-input#reg-master(type="radio", name="reg", value="manicure")
            p.modal-reg-fieldset
                label.modal-reg-label Настя Роднина
                input.modal-reg-input#reg-master(type="radio", name="reg", value="haircut")
            p.modal-reg-fieldset
                label.modal-reg-label Алина Салиева
                input.modal-reg-input#reg-master(type="radio", name="reg", value="haircut")
            p.modal-reg-fieldset
                a.modal-reg-btn#modal-reg-btn2( type="submit") Дальше

#step3.modal_reg
    .modal-content_reg
        span_reg.close_reg x
        .modal_reg_header
            h2 Пожалуйста выберите день и время
        form.modal_form_reg
            .reg_blocks
                .reg_left_block
                    p.data-text Дата записи
                    p.modal-reg-fieldset
                        label.modal-reg-label-image.modal-reg-label--calendar
                        input.modal-reg-input#reg-week(type="week", name="year_week", placeholder="День недели")
                .reg_right_block
                    p.data-text Время записи
                    p.modal-reg-fieldset
                        label.modal-reg-label 10.00
                        input.modal-reg-input#reg-time(type="radio", name="time", value="10")
                    p.modal-reg-fieldset
                        label.modal-reg-label 12.00
                        input.modal-reg-input#reg-time(type="radio", name="time", value="12")
                    p.modal-reg-fieldset
                        label.modal-reg-label 14.00
                        input.modal-reg-input#reg-time(type="radio", name="time", value="14")
                    p.modal-reg-fieldset
                        label.modal-reg-label 16.00
                        input.modal-reg-input#reg-time(type="radio", name="time", value="16")
                    p.modal-reg-fieldset
                        label.modal-reg-label 18.00
                        input.modal-reg-input#reg-time(type="radio", name="time", value="18")
            p.modal-reg-fieldset
                a.modal-reg-btn#modal-reg-btn3( type="submit") Дальше

#step4.modal_reg
    .modal-content_reg
        span_reg.close_reg x
        .modal_reg_header
            h2 Пожалуйста заполните контактные данные
        form.modal_form_reg
            p.modal-reg-fieldset
                label.modal-reg-label-image.modal-reg-label--username
                input.modal-reg-input#reg-username(type="text", placeholder="Фамилия Имя", required)
            p.modal-reg-fieldset
                label.modal-reg-label-image.modal-reg-label--phone
                input.modal-reg-input#reg-phone(type="tel" placeholder="Контактный телефон ( н: 0ххх хххххх)", maxlength="11", pattern="[0-9]{4} [0-9]{6}", required)
            p.modal-reg-fieldset
                label.modal-reg-label-image.modal-reg-label--comment
                textarea.modal-reg-input#reg-comment(rows="5",cols="50", placeholder="Комментарии")
            p.modal-reg-fieldset
                a.modal-reg-btn#modal-reg-btn4( type="submit") Дальше


#step5.modal_reg
    .modal-content_reg
        span_reg.close_reg x
        .modal_reg_final_text
            h2 Поздравляем!
            h3 Ваша запись на услугу произведена успешно
        .modal_reg_final_img
            img(src="../images/heart_beauty.png", alt="heart image")
        p.modal-reg-fieldset
            a.modal-reg-btn#modal-reg-btn5( type="submit") Выход