<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        .admin
            .container.admin_block
                .admin_sidebar_block.col-lg-4

                .admin_masters_block.col-lg-8