<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        .admin
            .container.admin_block
                .admin_sidebar_block.col-lg-3
                    .salon_block
                        .salon_img
                            img(src="../images/logo_1.jpg" alt="Лого салона")
                        .salon_title
                            h3 Студия красоты Sabi 
                    .menu_block
                        ul.admin_navbar      
                            li.admin_navbar_links
                                a(href="admin_masters.html") Мастера
                            li.admin_navbar_links
                                a(href="#") Услуги
                .col-lg-9
                    .admin_service_block
                        h2 Услуги
                        .row.admin_service_cards
                            .service_card
                                .service_logo
                                    img(src="../images/haircut.jpg", alt="")
                                .service_title
                                    h3 Стрижка
                                .service_info 
                                    .left_block
                                        h2 115
                                        h6 записей в неделю
                                    .right_block
                                        h2 429
                                        h6 записей в месяц
                            .service_card
                                .service_logo
                                    img(src="../images/hairdye.jpg", alt="")
                                .service_title
                                    h3 Покраска
                                .service_info 
                                    .left_block
                                        h2 45
                                        h6 записей в неделю
                                    .right_block
                                        h2 130
                                        h6 записей в месяц
                            .service_card
                                .service_logo
                                    img(src="../images/manicur.jpg", alt="")
                                .service_title
                                    h3 Маникюр    
                                .service_info 
                                    .left_block
                                        h2 108
                                        h6 записей в неделю
                                    .right_block
                                        h2 380
                                        h6 записей в месяц
                            .service_card
                                .service_logo
                                    img(src="../images/makeup.jpg", alt="")
                                .service_title
                                    h3 Визаж
                                .service_info 
                                    .left_block
                                        h2 20
                                        h6 записей в неделю
                                    .right_block
                                        h2 125
                                        h6 записей в месяц
                            .service_card.add
                                .service_logo.add
                                    .box
                                        span +
                                .service_info.add
                                    p Добавить новую услугу

