<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .main-content
            .container
                h1.heading ONLINE Suluu для салонов красоты
                h6.faq-text Здесь Вы найдете всю необходимую информацию о работе в сервисе ONLINE Suluu для компаний
                #accordeon   
                    .accordeon-question-title.active.question5 
                        span.question-title Онлайн-запись. Что это? Как это работает?
                    .faq-answer    
                        p.answers Онлайн-запись - это возможность клиентов самостоятельно записываться к специалистам на свободное время с учетом настроенного графика работы и внесенных в электронный журнал записей! Поэтому для правильно работы онлайн-записи очень важно поддерживать график работы специалистов в актуальном состоянии и вести ВСЕ записи в одном месте - электронном журнале, в том числе записи, сделанные по телефону или через соцсети. Иначе будут происходить накладки, что негативно скажется на репутации  салона и уровне обслуживания. 
                        p.answers Изначально перед клиентом стоит выбор пути записи. С чего начать: выбрать сначала специалиста, или же первоначально выбирать услуги, которые ему хочется получить. Каждый из этих путей оправданы. Если клиент уже знаком со специалистом и хочет попасть именно к нему, то он выбирает путь - "Выбрать мастера". Если же клиент не знает специалиста и хочет просто получить услуги, не важно у какого мастера, то его путь записи начнется с первоначальным "Выбора Услуги"
                        p.answers Путь Мастер: После того как клиент выбрал своего любимого мастера для записи к нему, клиент отмечает услуги, которые планирует получить и переходит на шаг выбора даты и времени своего визита. 
                        p.answers Даты и время клиенту предлагаются исходя из рабочего графика специалиста и имеющихся у него других записей. То есть - только свободное. Таким образом, выбрав время своего визита, клиент может быть уверенным, что его примут именно в эту дату и в это время.
                        p.answers Путь Услуга: Первым делом в данном случае клиент выбирает услугу, которую планирует получить. Далее система предложит ему специалистов, оказывающих данную услугу и время визитов, доступное у этих специалистов. 
                        p.answers На последнем шаге клиент в обязательном порядке оставляет свои контактные данные - свое Имя и номер телефона. При этом, если клиент не зарегистрирован в DIKIDI (как в случае с приложением DIKIDI Online), номер телефона нужно подтвердить. Это происходит путем отправки на указанный клиентом номер телефона смс-сообщения с 4х-значным кодом подтверждения. Полученный код клиент должен ввести в соответствующее поле 
                        p.answers После подтверждения контактной информации и нажатия на кнопку Записаться, онлайн-запись считается созданной и автоматически появляется в журнале записей специалиста. Создатель, Администраторы и специалист получают уведомление об этом событии. А клиент видит на своем экране итоговую страницу
                    .accordeon-question-title.question1 
                        span.question-title Как создать профиль салона красоты в SULUU Online?
                    .faq-answer              
                        p.answers Создать ваш проект салона красоты можно на сайте suluu-online.kg в разделе Для мастеров и компаний по кнопке "Создать Бизнес профиль". Авторизуйтесь и создайте свой проект Салона красоты. 
                        p.answers 1) Сначала необходимо внести всю достоверную информацию о своем салоне в разделе Настройки - Профиль. Название, адрес, логотип, несколько слов о компании. Добавьте фотографии интерьеров вашего салона. 
                        p.answers 2) Следующим шагом в разделе Настройки - Сотрудники добавьте сотрудников вашей компании. Сотрудникам рекомендуем добавить фотографии, чтобы легче было впоследствии ориентировать в журнале записей, а также, чтобы ваши клиенты могли видеть к кому они записываются. 
                        p.answers 3) Далее перейдите в разделе Настройки - Каталог услуг. Добавьте все ваши услуги и настройте каждую по стоимости и длительности. Первоначальные настройки на этот момент закончены. Переходим к работе в сервисе.
                        p.answers 4) Для начала нужно установить ваше рабочее время. Для этого нужно перейти в раздел График работы. В календаре выберите ваши рабочие дни в текущем месяце или последующих. Выбранные дни подсвечиваются цветом. Нажмите на кнопку изменить и установите длительность рабочего времени этих дней. Если в разные дни график работы варьируется устанавливайте график соответственно дням. 
                        p.answers ⚠ Внимание! Согласно настроенному графику работы формируется самый главный инструмент для ведения записей - журнал. 
                        p.answers 5) Вы можете приступать к ведению записей. Теперь у Вас уже настроен перечень оказываемых Вами услуг, составлен график работы. И уже, наверняка, имеются предстоящие записи. Необходимо внести их, чтобы журнал записей стал актуальным, и Вам больше не пришлось искать их по блокнотам и ежедневникам. Теперь все ваши записи будут храниться в едином защищенном месте - в сервисе SULUU-Online.
                        p.answers Для активации онлайн записи нажмите на Подключить в разделе Настройки - Онлайн-запись. Ваши клиенты обязательно скажут вам спасибо за такую возможность! А Вы сможете сэкономить массу времени на переписки, ведь часть клиентов запишутся к вам сами.
                    .accordeon-question-title.question2 
                        span.question-title Как настроить доступ каждому мастеру?
                    .faq-answer
                        p.answer Для того, чтобы ваши сотрудники могли видеть свои записи и управлять ими, а также разграничить уровни доступа в сервисе предусмотрена возможность Добавления доступа к проекту. 
                        p.answer В WEB-версии на сайте SULUU Online
                        p.answer Зайдите в раздел Настройки - Доступ к проекту, нажмите на кнопку Добавить доступ, укажите номер телефона сотрудника и выберите группу пользователя. Например Мастер с правами редактирования. 
                        p.answer В салоне сотрудники исполняют различные функции, и для этого каждому из них необходимо давать разный доступ прав к проекту. 
                        p.answer Гость - этот доступ позволяет лишь просматривать записи и график работы всех сотрудников. Данный доступ предназначен для компьютера/планшета общего пользования, с помощью которого клиенты смогут посмотреть занятость мастеров, либо сами мастера смогут сообщить клиентам свое свободное время, находясь в салоне.
                        p.answer Сотрудник (только просмотр) - просмотр своих записи и график работы, получать уведомления о создании новых записей или же об изменении/отмене уже имеющихся. Сотрудник не будет иметь доступ к номерам телефонов клиентов (в записях номера будут скрыты).
                        p.answer Сотрудник (с правами редактирования) - этот доступ позволяет просматривать свой график работы и записи, редактировать их, отменять, вносить новые. Сотрудник будет иметь доступ к базе клиентов.
                        p.answer Администратор (ограниченный доступ) - полные права доступа к проекту, за исключением возможности добавить или удалить доступ с правами «Создатель», выгрузить базу клиентов. У сотрудника не будет доступа к модулям Финансы, Аналитика, Продажи и все, что связано с Зарплатой.
                        p.answer Администратор - полные права доступа, за исключением возможности добавить или удалить доступ с правами «Создатель» и выгрузить базу клиентов.
                        p.answer Создатель - полные права доступа к проекту в том числе возможность удалить проект.
                        p.answer У каждого сотрудника должен быть свой доступ к проекту. При увольнении сотрудника вы сможете с легкостью удалить его доступ и он больше не сможет зайти в проект.
                        p.answer Разберем все шаги, которые необходимы для успешного добавления доступа сотруднику.
                        p.answer 1. Вам необходимо в вашем проекте зайти в раздел Доступы к проекту. Там необходимо добавить новый доступ на личный номер телефона сотрудника.
                        p.answer 2. Далее сотрудник должен скачать рабочее приложение DIKIDI Business и зарегистрироваться под тем номером, на который вы дали ему доступ. Если же ему не приходит код подтверждения, то скорее всего он уже ранее был зарегистрирован на данный номер в системе - в таком случае нажмите Забыли пароль и вам придет новый пароль.
                        p.answer 3. Далее сотруднику необходимо зайти в систему и у него будет доступен тот проект, на который вы дали ему доступ. Можно начинать работать!
                        p.answer Важно!!! Не допускайте так называемых "общих доступов" к проекту - это когда вы даете логин и пароль от одного доступа сразу нескольким сотрудникам для пользования. В таком случае при возникновении ошибки в проекте вы едва ли сможете вычислить, кто из ваших сотрудников ее допустил. А также при "общих доступах" бывают случаи, когда один из сотрудников после увольнения пакостит и удаляет всё подряд. Чтобы этого не произошло, вы сразу же после увольнения должны удалить доступ к проекту у этого сотрудника, а для этого он должен быть у каждого свой.
                    .accordeon-question-title.question3 
                        span.question-title Как добавлять услуги в SULUU Online?
                    .faq-answer 
                        p.answer Добавление и настройка услуг со своим наименованием возможно только в WEB-версии нашего сервиса на сайте suluu-online.kg. Авторизуйтесь и откройте ваш проект. Перейдите в раздел Настройки - Каталог услуг.
                        p.answer По кнопке "Добавить услугу" откроется форма добавления вашей услуги. В поле "Название" впишите ваше наименование услуги. Система может предлагать варианты наименований услуг. Однако, если вы хотите именно свое, то игнорируйте предлагаемые варианты. 
                        p.answer После указания названия услуги, выберите ее категорию, напишите описание (если требуется) и нажмите "Далее". Следующим шагом выберите исполнителей услуги. И нажмите "Далее"
                        p.answer Последним шагом является указание Длительности и стоимости услуги. Длительность и Стоимость у разных исполнителей может отличаться. В таком случае, укажите возле каждого нужные параметры. 
                        p.answer После внесения параметров не забудьте Сохранить изменения. Если вы хотите продолжить добавление услуг нажмите "Сохранить и добавить еще услугу". Если же вы не планируете дальше добавлять услуги нажмите "Сохранить и закрыть".
                    .accordeon-question-title.question4 
                        span.question-title Как работать с журналом записей?
                    .faq-answer
                        p.answer Cуществуют разные Режимы журнала записей. Существует 3 варианта отображения журнала записей - в виде календаря на день, календаря на месяц, а также режим Список. 
                        p.answer Журнал записей в режиме Месяц позволяет оценить загрузку сотрудников в целом на одном экране, посчитать количество записей. Журнал записей в режиме День показывает детально записи на конкретный день по всем сотрудникам салона, ведущих прием клиентов на эту дату. Режим Список в Журнале записей показывает Все записи списком по мере их поступления в салон. А различные фильтры, в том числе поисковая строка, помогают быстро и легко найти необходимую запись нужного клиента. 
                    .accordeon-question-title.question6 
                        span.question-title Записи. Создание, изменение, отмена.  
                    .faq-answer  
                        p.answer Создание и изменение записи в журнале записей
                        p.answer Запись клиента состоит из основных и вспомогательных параметров. Основными являются:
                        p.answer Дата
                        p.answer Время начала процедур
                        p.answer Исполнитель
                        p.answer Услуги
                        p.answer Клиент
                        p.answer Дополнительно можно: 
                        p.answer Добавить комментарий к записи (например: "придет с ребенком", "может задержаться"). Изменить цвет записи (цвет может быть обозначением класса клиента, категорию услуг, или даже просто для красоты) Этим цветом запись будет окрашена в журнале Установить смс-напоминание с указанием срока, за который будет отправлено смс с напоминанием о предстоящем визите. В записи вы можете просмотреть Историю ее изменений и открыть Историю записей клиента. А также, на основе записи вы можете оформить Продажу услуг и товаров для учета фактических результатов салона и его сотрудников, а также зафиксировать оплату услуг клиентом. В видео ниже вы увидите как создавать, редактировать, переносить и отменять записи клиентов в электронном журнале.  
                        p.answer Добавить запись - это значит создать полноценную запись с указанием услуг и привязкой к клиенту. Указание клиента в записи дает ряд преимуществ: Данные клиента сохраняются в клиентской базе. Начинает формироваться статистика по клиенту и история его записей. Привязка клиента к записи позволяет поставить ему смс-напоминание о предстоящем визите
                        p.answer Открыв карточку клиента в записи непосредственно перед визитом, можно учитывать при оказании услуг индивидуальные особенности, которые могут быть записаны в карточке. Всего этого лишена форма записи "Занять время". В ней присутствует только длительность, исполнитель и поле "Комментарий" для написания свободного текста. Занятое время не привязано к клиенту, а значит и не записывается в его историю визитов. Для чего же нужно "Занятое время"? Обычно, этот тип записи требуется, чтобы занять время на какие-то не относящиеся к услугам дела (мастеру нужно отъехать по личным делам, проходят курсы в салоне и тп.). Также бывает ситуация, когда клиент не сказал вам свой номер телефона. 
                    .accordeon-question-title.question7 
                        span.question-title Акции. Создание. Рекомендации 
                    .faq-answer  
                        p.answer Всем известно, что правильно созданные Акции – это самый лучший инструмент для привлечения новых клиентов и удержания уже имеющихся. Специально для этих целей команда SULUU ONLINE создала раздел «Акции», чтобы теперь Вы создавали и публиковали свои Акции у нас!
                        p.answer Все Ваши опубликованные акции будут иметь ряд преимуществ:
                        p.answer 1. Будут размещены в каталоге «Акции» Вашего города на сайте suluu-online.kg
                        p.answer 2. Будут видны клиентам для онлайн-записи на сайте suluu-online.kg в общем разделе "Акции", а также в разделе "Акции" Вашего проекта.
                        p.answer 3. Будут видны клиентам для записи по кнопке "Записаться". Как создать кнопку?
                        p.answer 4. Вы сможете делиться акциями в социальных сетях и личных переписках. Это очень удобно!
                        p.answer Вам больше не придется создавать акции в каждой соц. сети отдельно, а потом принимать звонки с вопросами и просьбами записаться. Пускай клиенты записываются по акциям самостоятельно, а SULUU ONLINE выполнит всю рутинную работу за Вас.
                        p.answer Как же создать и опубликовать акцию? 
                        p.answer Создать акцию можно на сайте suluu-online.kg в разделе "Акции". Инструкции и вся дополнительная информация. После создания акцию нужно "Опубликовать". Только тогда она станет доступна для онлайн-записи и ее можно будет размещать в социальных сетях.
                        p.answer Ждем Ваших ярких предложений! С уважением, SULUU ONLINE.

 
            button#to-top       
        script(src="../script/accordeon.js")   
        script(src="../script/totop.js")                                  
        include includes/footer.pug