<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .main-content
            .container
                .mySlides.fade
                    img(src="../images/sldone.jpg")
                .mySlides.fade
                    img(src="../images/sldtwo.jpg")
                .mySlides.fade
                    img(src="../images/sldthree.jpg")
                .mySlides.fade
                    img(src="../images/sldfour.jpg")
                .mySlides.fade
                    img(src="../images/sldfive.jpg")
                a.prev(onclick="plusSlides(-1)") &#10094
                a.next( onclick="plusSlides(1)") &#10095 
                .dot_container
                    span.dot(onclick="currentSlide(1)")
                    span.dot(onclick="currentSlide(2)")
                    span.dot(onclick="currentSlide(3)")
                    span.dot(onclick="currentSlide(4)")
                    span.dot(onclick="currentSlide(5)")
                .search-category
                    .form
                        select#district(name="propertyType")
                            option(value="") Район
                            option(value="0") Филармония
                            option(value="1") ЦУМ
                            option(value="2") Восток-5
                            option(value="3") Юг-2
                            option(value="4") Медакадемия
                            option(value="5") ШВК
                            option(value="6") Политех
                            option(value="7") Джал
                            option(value="8") 5 мкр
                            option(value="9") 6 мкр
                            option(value="10") 7 мкр
                            option(value="11") 8 мкр
                            option(value="12") 9 мкр
                            option(value="13") 10 мкр
                            option(value="14") 11 мкр
                            option(value="15") 12 мкр
                            option(value="16") Асанбай
                    .form 
                        select#barbers(name="propertyType")
                            option(value="") Салоны красоты
                          
                    
                
                .advantages
                    h2 Наши преимущества
                    .main_block_advantages
                        .md_block_advantages.first_block
                            .block_wrap
                                img(src="../icons/search.svg" alt="")
                                .text_block
                                    h3 Удобный поиск салонов
                                    p Выбирайте удобные Вам район, время и услуги
                        .md_block_advantages.second_block
                            .block_wrap
                                img.check(src="../icons/check.svg" alt="")
                                .text_block
                                    h3 Реальные контакты
                                    p Действующие адреса и телефоны
                        .md_block_advantages.third_block
                            .block_wrap
                                img(src="../icons/refresh.svg" alt="")
                                .text_block
                                    h3 Обновляемая информация о салонах
                                    p Регулярно обновляемая информация о салонах
                button#to-top       

        script(src="../script/totop.js")
        script(src="../script/select.js")                                  
        include includes/footer.pug