<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .main-content
            .container
                #slideshow
                    div
                        img(src="../images/sldone.jpg")
                    div
                        img(src="../images/sldtwo.jpg")
                    div
                        img(src="../images/sldthree.jpg")
                    div
                        img(src="../images/sldfour.jpg")
                    div
                        img(src="../images/sldfive.jpg")   
                .main-info                    
                    h2.display2 ДОБРО ПОЖАЛОВАТЬ НА SULUU ONLINE!
                    ul
                    li.general-info SULUU ONLINE - это уникальная онлайн-система, с помощью которой Вы можете быстро найти подходящий салон или мастера красоты и без труда записаться.  
                    li.general-info SULUU ONLINE - это система, которая создана, чтобы сделать Вашу жизнь проще. Сэкономьте свое время и зарегистрируйтесь прямо сейчас!
                    li.general-info SULUU ONLINE предназначена как для женщин, так и для мужчин. Не отказывайте себе в удовольствии быть ухоженным / ой! 
                    h2.display2 Теперь, записаться в салоны красоты стало еще проще!
                .search-category
                    .form
                        select#selector(name="propertyType")                            
                            option(value="fillar") Филармония
                            option(value="zum") ЦУМ
                            option(value="vost") Восток -5, ТЭЦ, Аламедин -1
                            option(value="yug") Юг-2
                            option(value="medakadem") Медакадемия
                            option(value="manas_gork") пр.Манаса до Горького 
                            option(value="politekh") Госрегистр, ШВК, Политех
                            option(value="djal") Джал
                            option(value="mkrn3") 3 мкр
                            option(value="mkrn4") 4 мкр
                            option(value="mkrn5") 5 мкр
                            option(value="mkrn6") 6 мкр
                            option(value="mkrn7") 7 мкр
                            option(value="mkrn8") 8 мкр
                            option(value="mkrn9") 9 мкр
                            option(value="mkrn10") 10 мкр
                            option(value="mkrn11") 11 мкр
                            option(value="mkrn12") 12 мкр
                            option(value="asanbay") Асанбай
                            option(value="osh") Ошский рынок
                #data
                .advantages
                    h2 Наши преимущества
                    .main_block_advantages
                        .md_block_advantages.first_block 
                            #card-front.card
                                .icon
                                    img(src="../icons/search.svg" alt="")
                            #card-back.card
                                .details
                                    h3 Удобный поиск салонов
                                    p Выбирайте удобные Вам район, время и услуги
                        .md_block_advantages.second_block 
                            #card-front.card
                                .icon
                                    img(src="../icons/check.svg" alt="")
                            #card-back.card
                                .details
                                    h3 Реальные контакты
                                    p Действующие адреса и телефоны
                        .md_block_advantages.third_block 
                            #card-front.card
                                .icon
                                    img(src="../icons/refresh.svg" alt="")
                            #card-back.card
                                .details
                                    h3 Информация
                                    p Регулярно обновляемая информация о салонах
                 
                button#to-top                 
        include includes/footer.pug 