<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .main-content
            .container
                #slideshow
                    div
                        img(src="../images/sldone.jpg")
                    div
                        img(src="../images/sldtwo.jpg")
                    div
                        img(src="../images/sldthree.jpg")
                    div
                        img(src="../images/sldfour.jpg")
                    div
                        img(src="../images/sldfive.jpg")   
                .main-info                    
                    h2.display2 ДОБРО ПОЖАЛОВАТЬ НА SULUU ONLINE!
                    ul
                    li.general-info SULUU ONLINE - это безупречный сервис и уникальная онлайн-система, с помощью которой Вы можете найти подходящий салон или мастера красоты, смотреть примеры работ мастеров и записаться в понравившийся салон за минимальное количество времени.  
                    li.general-info SULUU ONLINE - это система, которая создана, чтобы сделать Вашу жизнь проще. Сэкономьте свое время и зарегистрируйтесь прямо сейчас!
                    li.general-info SULUU ONLINE предназначена как для женщин, так и для мужчин. Не отказывайте себе в удовольствии быть ухоженным / ой! 
                    h2.display2 Теперь, записаться в салоны красоты стало еще проще!
                .search-category
                    .form
                        select#district(name="propertyType")
                            option(value="") Район
                            option(value="0") Филармония
                            option(value="1") ЦУМ
                            option(value="2") Восток -5, ТЭЦ, Аламедин -1
                            option(value="3") Юг-2
                            option(value="4") Медакадемия
                            option(value="5") пр.Манаса до Горького 
                            option(value="6") Госрегистр, ШВК, Политех
                            option(value="7") Джал
                            option(value="8") 3 мкр
                            option(value="9") 4 мкр
                            option(value="10") 5 мкр
                            option(value="11") 6 мкр
                            option(value="12") 7 мкр
                            option(value="13") 8 мкр
                            option(value="14") 9 мкр
                            option(value="15") 10 мкр
                            option(value="16") 11 мкр
                            option(value="17") 12 мкр
                            option(value="18") Асанбай
                            option(value="19") Ошский рынок
                #out
                .advantages
                    h2 Наши преимущества
                    .main_block_advantages
                        .md_block_advantages.first_block
                            .block_wrap
                                img(src="../icons/search.svg" alt="")
                                .text_block
                                    h3 Удобный поиск салонов
                                    p Выбирайте удобные Вам район, время и услуги
                        .md_block_advantages.second_block
                            .block_wrap
                                img.check(src="../icons/check.svg" alt="")
                                .text_block
                                    h3 Реальные контакты
                                    p Действующие адреса и телефоны
                        .md_block_advantages.third_block
                            .block_wrap
                                img(src="../icons/refresh.svg" alt="")
                                .text_block
                                    h3 Обновляемая информация о салонах
                                    p Регулярно обновляемая информация о салонах
                button#to-top       

        script(src="../script/totop.js")
        script(src="../script/select.js") 
        script(src="../script/header.js")                                  
        include includes/footer.pug