<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .info-content
            .container
                .info-content-main
                    .info-message
                        img(src="../icons/info.svg", alt="" width="30" height="30")
                        h2.display2 Требования к размещению информации для компаний и фрилансеров.
                    span.text-title Вся информация (сведения) о салоне красоты (студии), частном мастере, размещаемая на сервисе SULUU ONLINE, должна быть достоверной, в полной мере описывать деятельность салона красоты (студии), частного мастера и соответствовать Партнёрскому соглашению.
                    p.text-mini-title Требования к заполнению текстовой информации
                    ul.text-content
                    li Текст должен быть написан с соблюдением правил русской пунктуации и орфографии, без допущения опечаток.
                    li Допускается использование другого языка с соблюдением свойственных ему правил написания текста.
                    li Между словами, а также после знаков препинания необходимо ставить пробелы (Пример: «Ножницы, зеркало, расческа.»).
                    li Текст должен начинаться с заглавной буквы. Написание слов полностью заглавными буквами допускается для общеизвестных аббревиатур или зарегистрированных товарных знаков.
                    li Недопустимо в тексте использовать разрядку (пример: и н ф о р м а ц и я).
                    p.text-mini-title Требования к изображениям
                    ul.text-content
                    li Фото и другие изображения необходимо подгружать хорошего качества в формате JPG размером не более 15 Мб.
                    li Изображения не должны содержать контактную информацию (номера телефонов, адреса электронной почты, почтовые адреса, номера служб мгновенного обмена сообщениями и другое).
                    li Изображения не должны содержать информации рекламного характера.
                    li Изображения не должны содержать откровенных, пугающих или эстетически неприемлемых изображений.
                    li Изображения не должны содержать ненормативную лексику, а также текст, написанный с ошибками.
                    li Изображения должны отображать только актуальную и достоверную информацию.
                    h2.display2 Требования к заполнению профиля салона красоты/частного мастера.
                    p.text-mini-title Требования к логотипу:
                    ul.text-content
                    li Изображение должно содержать товарный знак компании либо соответствовать направлению работы;
                    li В случае регистрации в качестве мастера, необходимо загружать персональную (личную) фотографию с изображением лица без головного убора и соответствующей тематики (фотографии с пляжа, к примеру, не подходят). Количество человек, изображенных на фотографии, должно быть не более одного. На фотографии не должны присутствовать иные, не соответствующие тематики сервисы, предметы.
                    li Наименование салона или имя мастера должно соответствовать действительному наименованию салона (имени мастера).
                    li Телефоны указываются только доступные для звонка.
                    li Адрес указывается без указания в специальных строках слов «улица», «город».
                    li В описании салона («Несколько слов о салоне») не должна размещаться реклама, целью которой является распространение товаров и услуг, любая недостоверная информация.
                    li В галереи интерьера салона не должны размещаться фото с примерами работ и фотографии с присутствием людей.
                    li Требования к заполнению Профиля мастеров салонов (студий) красоты и каталога услуг.
                    li Имя, фамилия, должность, категория мастера должны быть указаны полностью с заглавной буквы.
                    li Услуги, выполняемые мастерами, указываются в полном объеме.
                    li Информация о длительности процедуры и ее стоимости является обязательной к заполнению.
                    li Требования к заполнению и ведению расписания работы мастеров и журнала записей.
                    li Расписание мастеров должно обновляться своевременно (не менее чем за неделю до истечения срока действующего расписания, в случае корректировки существующего расписания, все изменения должны вноситься незамедлительно, в тот же день).
                    li Записи в электронном журнале должны отражаться своевременно (незамедлительно) и в полном объеме независимо от способа их поступления (online, телефонный звонок и др.).
                    h2.display2 Администрация SULUU ONLINE имеет право изменить и/или дополнить настоящие Требования в одностороннем порядке без какого-либо специального уведомления. Настоящие Требования являются открытым и общедоступным документом.

                button#to-top                                    
        include includes/footer.pug