<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
            .container
                #map
            button#to-top              
        script(src="../script/totop.js") 
        script(src="../script/map.js")                                  
    include includes/footer.pug