<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .main-content
            .container
                #map
        button#to-top                                                 
        include includes/footer.pug