<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .main-content
            .container
                .row
                    .card_sale.col-4.badge-min.col-lg-4.col-md-6.col-sm-12.col-xs-12 
                        img(src="../images/sl_1.jpg", alt="")
                        .sale_footer Beauty-studio-Danna </br> Скидка на первое посещение
                    .card_sale.col-4.badge-min.col-lg-4.col-md-6.col-sm-12.col-xs-12  
                        img(src="../images/sl_2.jpg", alt="")
                        .sale_footer MARIA NAILS </br> Акция до конца мая!!!
                    .card_sale.col-4.badge-max.col-lg-4.col-md-6.col-sm-12.col-xs-12  
                        img(src="../images/sl_3.png", alt="")
                        .sale_footer B.Studio </br> Скидка на зону бикини
                    .card_sale.col-4.badge-max.col-lg-4.col-md-6.col-sm-12.col-xs-12  
                        img(src="../images/sl_4.jpg", alt="")
                        .sale_footer N I K A shope & NS </br> Скидка на лаки
                    .card_sale.col-4.badge-min.col-lg-4.col-md-6.col-sm-12.col-xs-12 
                        img(src="../images/sl_5.png", alt="")
                        .sale_footer Студия красоты SABI </br> Скидка на первое посещение
                    .card_sale.col-4.badge-max.col-lg-4.col-md-6.col-sm-12.col-xs-12  
                        img(src="../images/sl_6.jpg", alt="")
                        .sale_footer SHURAKOVA BS </br> Скидка на покраску
                       
        include includes/footer.pug                        